<!-- example of static dialog, not using dialog description language to generate the dialog -->
<h2>{{ 'test2' | i18n }}</h2>

<cg-dialog-renderer markup="{{ dialogMarkup }}"
                    dialog="dialog"></cg-dialog-renderer>

<!--
<h1>Test Dialog</h1>

<cg-dialog id="dialog1" dialog-values="dialog.dialogValues" cg-isserveraction="true">



    <cg-dialog-controls>
        <cg-input id="name" value="query1_name"></cg-input>

        <cg-table id="tourTable" ng-model="tour__overview">
        </cg-table>
    </cg-dialog-controls>
</cg-dialog>
-->